name: Build library

on:
    workflow_call:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 8

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'pnpm'

            - name: Install Dependencies
              run: pnpm install --no-frozen-lockfile

            - name: SSG build
              run: pnpm build

            - name: Setup GitHub Pages
              uses: actions/configure-pages@v5

            - name: Upload Pages Artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: './dist'
